/* btn (arrow-border)
------------------------*/
.mod_btn3 {
  display:table;
  margin:0 auto 15px;
  position:relative;
  a {
    @include btn3;
    width:250px;
    height:50px;
    padding:0 25px;
    &:after {
      @include btn3-after;
    }
  }
  a.before {
    &:after {
      @include btn3-before;
    }
  }
}

.mod_btn4 {
  display:table;
  margin:0 auto 15px;
  position:relative;
  a {
    @include btn4;
    width:300px;
    height:auto;
    padding:10px 25px;
    &:after {
      @include btn4-after;
    }
  }
  a.before {
    &:after {
      @include btn4-before;
    }
  }
}
/* list-link 
------------------------*/
.mod_gnav {
  a {
    @include list-link;
    &:after {
      @include list-arrow;
    }
  }
  a.more_link:after {
    @include list-arrow-t;
  }
  a.active:after {
    @include list-arrow-b;
  }
}

.mod_gnav_under2 {
  a {
    background:#fff;
    color:#333;
    &:after {
      @include list-arrow2;
    }
  }
}
/* form
------------------------*/
.mod_form1 {
  padding:0 15px 15px;
  dt {
    background:#333;
    color:#fff;
    margin:0 0 10px;
    padding:5px;
  }
}
.mod_form_tx1 {
  @include tx-reset;
  background:#f0f0f0;
  border:2px solid #ccc;
  width:100%;
  margin:0 auto 15px;
  padding:10px;
}
.mod_form_select1 {
  position:relative;
  select {
    @include tx-reset;
    @include border-radius(0);
    background:#c0c0c0;
    border:2px solid #000;
    font-size:16px;
    width:100%;
    margin:0 0 15px;
    padding:10px;
    &+label:after {
      @include select-arrow;
    }
  }
}
.mod_form_textarea1 {
  @include tx-reset;
  width:100%;
  height:100px;
  margin:0 0 15px;
  padding:10px;
  background:#f0f0f0;
  border:2px solid #ccc;
}
.mod_form_checkbox {
  margin:0 0 15px;
  font-size:120%;
}
input[type=checkbox] {
  font-size:20px;
  vertical-align:top;
}
.mod_form_radio {
  margin:0 0 15px;
  font-size:120%;
}
input[type=radio] {
  font-size:20px;
  vertical-align:top;
}
.mod-submit {
  @include btn3;
  cursor:pointer;
  display:block;
  font-size:16px;
  width:250px;
  height:50px;
  margin:0 auto;
  padding:0 25px;
  &:active {
    position:relative;
    top:2px;
  }
}
.mod_error {
  background:#FFDCDD;
  border-color:#FFC3C4;
}